Data_Scients_With_Python/gender_classifier/venv/*
Data_Scients_With_Python/genetic-algorithms/env/*
Data_Scients_With_Python/recommendation_system/env/*
Data_Scients_With_Python/stockprices-prediction/venv/*